<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' ,filename='css/mediaquery.css') }}">
    {% block css %}
    {% endblock %}
  </head>
{% set username = "?" %}
{% if current_user.is_authenticated %}
{% set username = current_user.username %}
{% endif %}
  <body class="bg-cream">
    <!-- NAVBAR -->
      <div class="container-fluid bg-cream fixed-top">
        <nav class="navbar navbar-expand-sm navbar-light mt-2">
            <div class="container-fluid shadow-lg rounded-5">
                <button class="navbar-toggler d-lg-none me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="bi bi-list size-20"></span>
                </button>
                <a class="navbar-brand greatvibesfont me-auto ms-auto size-25 bi bi-music-note text-decoration-none text-danger" href="{{ url_for('home_page', username=username) }}">Nav Tarang</a>
                <div id="gayab1">
                    {% if current_user.is_authenticated %}
                        <a class="m-1 size-16 btn btn-dark rounded-3 btn-sm bi bi-person" onclick="profileBar()">  
                            {{ current_user.first_name }}
                        </a>
                    {% else %}
                    <a href="{{ url_for('login_page') }}" class="ms-4 btn btn-danger btn-sm bi bi-box-arrow-in-right"> Login</a>
                    {% endif %}
                </div>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto size-12 mt-2 mt-lg-0 text-center">
                        {% if current_user.admin_access==True and current_user.is_authenticated %}
                        <li class="nav-item" id="headermenu"><a class="nav-link" href="{{ url_for('admin_page', username=username) }}">ADMIN</a> </li>
                        {% endif %}
                        <li class="nav-item" id="headermenu"><a class="nav-link" href="{{ url_for('home_page', username=username) }}">HOME</a> </li>
                        <li class="nav-item" id="headermenu"><a class="nav-link" href="{{url_for('product_page', username=username)}}">PRODUCT</a></li>
                        <li class="nav-item" id="headermenu"><a class="nav-link" href="{{ url_for('booking_page', username=username) }}">BOOKING</a></li>
                        <li class="nav-item" id="headermenu"><a class="nav-link" href="{{url_for('about_page', username=username)}}">ABOUT</a></li>
                    </ul>
                    <div class="d-flex my-lg-0 my-2 size-12" id="gayab0">
                        {% if current_user.is_authenticated %}
                        <a class="m-1 size-16 btn btn-danger text-light rounded-3 btn-sm bi bi-person" onclick="profileBar()">  
                            {{ current_user.first_name }}
                        </a>
                        {% else %}
                        <a class="m-1 btn btn-danger btn-sm bi bi-box-arrow-in-right" href="{{ url_for('login_page') }}"> Login</a>
                        <a class="m-1 btn btn-danger btn-sm bi bi-person-plus" href="{{ url_for('register_page') }}"> Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="justify-content-center nav mb-2 changeBg-red">
            <a class="nav-item btn btn-dark shadow-sm btn-sm text-white text-decoration-none" href="{{ url_for('dj_page', username=username) }}">DJ</a>
            <a class="nav-item btn btn-dark shadow-sm btn-sm ms-4 text-white text-decoration-none" href="{{ url_for('langa_page', username=username) }}">Langa</a>
            <a class="nav-item btn btn-dark shadow-sm btn-sm ms-4 text-white text-decoration-none" href="{{ url_for('orchestra_page', username=username) }}">Orchestra</a>
            <a class="nav-item btn btn-dark shadow-sm btn-sm ms-4 text-white text-decoration-none" href="{{ url_for('retro_page', username=username) }}">Retro</a>
        </div>  
      </div>
      {% if current_user.is_authenticated %}
    <div class="size-12 btn-group-vertical bg-cream border rounded-2" id="profilebar">
        <button class="btn btn-sm" onclick="profileBar()"><a class="text-decoration-none text-danger text-start text-end bi bi-x-octagon-fill"> {{ username }}</a></button>
        {% if current_user.admin_access==True and current_user.is_authenticated %}
        <a class="btn btn-sm text-start mt-1 text-danger" href="{{ url_for('bookingList', username=username) }}">Booking List</a>
        {% endif %}
        <a class="btn btn-sm text-start mt-1 text-danger" href="{{ url_for('profile_page', username=username) }}">Profile</a>
        <a class="btn btn-sm text-start mt-1 text-danger" href="{{ url_for('changePassword', username=username) }}">Change Password</a>
        <a class="btn btn-sm text-start bi bi-box-arrow-right mt-1 text-danger"  href="{{ url_for('logout_page',username=username)}}">Logout</a>
    </div> 
    {% endif %}

    <!-- CONTENT -->
      <div id="contentDesktop">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="container">
                <div class="nav-item alert alert-{{ category }} alert-dismissible text-center" style="font-size: small;">
                <button type="button" class="btn-close" data-bs-dismiss="alert">
                </button>       
                {{ message }}
                </div>
            </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            {% block content %}
            {% endblock %}
        </div>
      
    <!-- Bootstrap JavaScript Libraries -->
    {% block js %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
    <script src="{{ url_for('static', filename='js/all.js' )}}"></script>    
</body>

<footer class="bg-dark mt-5">
    <div class="container size-14 pt-3">
        <div class="row text-center">
            <div class="col mt-2">
                <div>
                    <a href="{{ url_for('home_page', username=username) }}" class="nav-link text-danger pb-3">Home</a>
                    <a href="{{ url_for('product_page', username=username) }}" class="nav-link text-danger pb-3">Product</a>
                    <a href="{{ url_for('booking_page', username=username) }}" class="nav-link text-danger pb-3">Booking</a>
                    <a href="{{ url_for('about_page', username=username) }}" class="nav-link text-danger pb-3">About</a>
                </div>                
            </div>
            <div class="col mt-2">
                <a href="{{ url_for('product_page', username=username) }}" id="footerdj" class="nav-link text-danger pb-3">DJ</a>
                <a href="{{ url_for('product_page', username=username) }}" id="footerlanga" class="nav-link text-danger pb-3">Langga Kalbeliya</a>
                <a href="{{ url_for('product_page', username=username) }}" id="footerdance" class="nav-link text-danger pb-3">Dance Troops</a>
                <a href="{{ url_for('product_page', username=username) }}" id="footerorchestra" class="nav-link text-danger pb-3">Orchestra</a>
                <a href="{{ url_for('product_page', username=username) }}" id="footerretro" class="nav-link text-danger pb-3">Retro</a>
            </div>
            <div class="col mt-2">
                <a href="{{ url_for('booking_page', username=username) }}" class="nav-link text-danger pb-3">Booking</a>
            </div>
            <div class="col"></div>
            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5"><hr class="text-danger"></div>
            <div class="col-md-2 text-center size-20 greatvibesfont text-danger bi bi-music-note">Nav Tarang</div>
            <div class="col-md-5"><hr class="text-danger"></div>
        </div>
    </div>
    <div class="container">
        <div class="container-fluid text-center mt-3 size-35">
            <label class="form-label me-2"><a class="bi bi-facebook text-danger" href="https://www.facebook.com/navtarangevent" target="_blank" rel="noopener noreferrer"></a></label>
            <label class="form-label me-2"><a class="bi bi-whatsapp text-danger" href="https://api.whatsapp.com/send?phone=9414133822" target="_blank" rel="noopener noreferrer"></a></label>
            <label class="form-label me-2"><a class="bi bi-instagram text-danger" href="https://www.instagram.com/navtarangevent" target="_blank" rel="noopener noreferrer"></a></label>
            <label class="form-label"><a class="bi bi-youtube text-danger" href="https://www.youtube.com/channel/UCH7y8zvLqLs564Swv3ZnvVA" target="_blank" rel="noopener noreferrer"></a></label>
            <label class="form-label"><a class="bi bi-music-note text-danger" href="{{ url_for('home_page', username=username) }}"></a></label>
        </div>
    </div>
</footer>
</html>