{% extends '_layout.html' %}

{% block title %}
Admin Panel
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
<div id="indexcontent-1">
    <div class="text-center mt-3" >
        <div class="btn-group">
            <button class="btn btn-sm btn-danger dropdown-toggle" data-bs-targer="service" data-bs-toggle="dropdown">Service</button>
            <div class="dropdown-menu bg-danger" id="service">
                <button class="btn btn-sm text-white" onclick="showService()" >Service Registration</button>
                <button class="btn btn-sm text-white" onclick="showServiceList()" >Service List</button>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-success dropdown-toggle" data-bs-targer="product" data-bs-toggle="dropdown">Package Registration</button>
            <div class="dropdown-menu bg-dark" id="product">
                <div class="text-start btn-sm btn text-white" onclick="showPackage()">Package Registration</div>
                <div class="text-start btn-sm btn text-white" onclick="showPackageList()">Package List</div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 mt-5 p-5 bg-dark rounded-5" id="packageedit">
                <div class="row mb-4 ">
                    <div class="col-md-10 text-warning greatvibesfont size-32 text-center">
                        Package Registeration:
                    </div>
                    <i class="col-md-2 btn bi bi-x-octagon text-warning size-30" onclick="closePackage()"></i>
                </div>
                <form method="POST" class="text-white text-center" enctype="multipart/form-data" action="{{ url_for('admin_page', username=username) }}">
                    {{ package.hidden_tag() }}
                    <div class="row mb-4">
                        <div class="col-sm-4">
                            {{ package.package_name.label(class="form-label") }}
                        </div>
                        <div class="col-sm-8">
                            {{ package.package_name(class="form-control") }}
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-4">
                            {{ package.package_code.label(class="form-label") }}
                        </div>
                        <div class="col-sm-8">
                            {{ package.package_code(class="form-control") }}
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-4">
                            {{ package.price.label(class="form-label") }}
                        </div>
                        <div class="col-sm-8">
                            {{ package.price(class="form-control") }}
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-4">
                            {{ package.package_image.label(class="form-label") }}
                        </div>
                        <div class="col-sm-8">
                            {{ package.package_image(class="form-control") }}
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-4">
                            {{ package.description.label(class="form-label") }}
                        </div>
                        <div class="col-sm-8">
                            {{ package.description(class="form-control") }}
                        </div>
                    </div>
                    {{ package.submit(class="btn btn-success text-start rounded-4") }}
                </form>    
            </div>
            <div class="col-md-6 mt-5 p-5 bg-dark rounded-5" id="serviceedit">
                <div class="row mb-4 ">
                    <div class="col-md-10 text-warning greatvibesfont size-32 text-center">
                        Service Registeration:
                    </div>
                    <i class="col-md-2 btn bi bi-x-octagon text-warning size-30" onclick="closeService()"></i>
                </div>
                <form method="POST" class="text-white text-center disabled" action="{{ url_for('admin_page', username=username) }}">
                    {{ service.hidden_tag() }}
                    <div class="row mb-4">
                        <div class="col-sm-4">
                            {{ service.service_name.label(class="form-label") }}
                        </div>
                        <div class="col-sm-8">
                            {{ service.service_name(class="form-control") }}
                        </div>
                    </div>
                    {{ service.submit(class="btn btn-success text-start rounded-4") }}
                </form>    
            </div>
            <div class="col-md-3"></div>
        </div>
        <div id="serviceList" class="container mt-5">
            <div class="row mb-2 ">
                <div class="col-md-10 text-danger greatvibesfont size-40 text-center">
                    Service List:
                </div>
                <i class="col-md-2 btn bi bi-x-octagon text-danger size-30" onclick="closeServiceList()"></i>
            </div>
        </div>
        <div class="table-responsive" id="tableServiceList">
            <table class="table table-dark table-striped text-center">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Service Name</th>
                        <th>options</th>
                    </tr>
                </thead>
                <tbody>
                    {% set counter = [] %}
                    {% for service in serviceList %}
                    {% set _ = counter.append(1) %}
                    <tr>
                        <td>{{ counter|length }}</td>
                        <td>{{ service.product_name }}</td>
                        <td>
                            <a href="{{ url_for('update_service', username=username, service_name = service.product_name) }}" class="btn btn-success btn-sm">Update</a>
                            <a href="{{ url_for('delete_service', username=username, service_name= service.product_name) }}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="packageList" class="container mt-5">
            <div class="row mb-2">
                <div class="col-md-10 text-danger greatvibesfont size-40 text-center">
                    Package List:
                </div>
                <i class="col-md-2 btn bi bi-x-octagon text-danger size-30" onclick="closePackageList()"></i>
            </div>
        </div>
        <div class="table-responsive mt-5" id="tablePackageList">
            <table class="table table-dark table-striped text-center">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Package Name</th>
                        <th>Package Code</th>
                        <th>Package Price</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% set counter = [] %}
                    {% for package in packageList %}
                    {% set _ = counter.append(1) %}
                    <tr>
                        <td>{{ counter|length }}</td>
                        <td>{{ package.package_name }}</td>
                        <td>{{ package.package_code }}</td>
                        <td>{{ package.price }}</td>
                        <td>
                            <a class="btn btn-success btn-sm" href="{{ url_for('update_package', username=username,package_code=package.package_code) }}">Update</a>
                            <a class="btn btn-danger btn-sm" href="{{ url_for('delete_package', username=username, package_code = package.package_code) }}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
