{% extends '_layout.html' %}

{% block title %}
{{ current_user.username }} Password Change
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form class="form p-2 rounded-5 border border-2 method="POST">
                    {{ changePassword.hidden_tag() }}
                    <div class="text-center greatvibesfont size-35 pb-3">
                        Change Password:
                    </div>
                    <div class="pb-3">   
                        {{ changePassword.password.label(class="form-label") }}
                        {{ changePassword.password(class="form-control") }}
                    </div>
                    <div class="pb-3">   
                        {{ changePassword.newPassword.label(class="form-label") }}
                        {{ changePassword.newPassword(class="form-control") }}
                    </div>
                    <div class="pb-3">   
                        {{ changePassword.confirmPassword.label(class="form-label") }}
                        {{ changePassword.confirmPassword(class="form-control") }}
                    </div>
                    <div class="text-center">
                        {{ changePassword.submit(class="btn btn-sm btn-success") }}
                        <a href="{{ url_for('home_page', username=username) }}" class="btn btn-sm btn-primary">Cancel</a>
                    </div>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    {% endif %}
{% endblock %}