{% extends '_layout.html' %}    
 {% block title %}
 NavTarang
{% endblock %}


{% block content %}
    <div class="container-fluid text-center text-white">
        <div class="text-grey size-40 greatvibesfont text-center pt-2">Hey Welcome</div>
        <div class="container text-center row" id="indexcard">
            <div class="col-sm-4 text-center">
                <div class="card" id="indexcardgap">
                    <img src="{{ url_for('static', filename='img/4_1.png') }}" alt="ntodj">
                    <div class="card-img-overlay">
                        <a class="btn" id="indexdj" href="{{ url_for('product_page', username=username) }}">DJ Music</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="card" id="indexcardgap">
                    <img src="{{ url_for('static', filename='img/04 ensemble-ga13553b74_640.jpg') }}" alt='Image by <a href="https://pixabay.com/users/yunje5054-741825/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=619260">윤재 손</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=619260">Pixabay</a>'>
                    <div class="card-img-overlay">
                        <a class="btn" id="indexdj" href="{{ url_for('product_page', username=username) }}">Orchestra</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="card" id="indexcardgap">
                    <img src="{{ url_for('static', filename='img/5.jpeg') }}" alt="ntodj">
                    <div class="card-img-overlay">
                        <a class="btn" id="indexdj" href="{{ url_for('product_page', username=username) }}">Wedding Event</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="carouselExampleInterval" class="carousel slide mt-3" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for package in packages %}
          <div class="carousel-item active text-center" data-bs-interval="10000">
            <img src="{{ url_for('static', filename=package.filename) }}" style="width: 80%;" alt="{{ package.filename }}">
          </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <div class="container text-center mt-5 pb-2">
        <div class="row">
            <div class="col-sm-6 pb-5 pt-2">
                <label class="form-label text-danger text-center timesnewroman">Ladies Sangeet program at Lake View Palace, Jodhpur: </label>
                <iframe style="width: 100%; height: 100%;" src="https://www.youtube.com/embed/QTmE7YTj-2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6 pb-5 pt-2">
                <label class="text-danger form-label text-center timesnewroman">Ladies Sangeet program at Jain Champawadi, Shivana: </label>
                <iframe  style="width: 100%; height: 100%;" src="https://www.youtube.com/embed/Hu-8Mo2bPxQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}