{% extends '_layout.html' %}    
 {% block title %}
Login
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/Login.css') }}">
{% endblock %}
    

{% block content %}
{% if not current_user.is_authenticated %}
    <div class="container" id="indexcontent-1">
        <div class="row">
            <div class="col-md-6 container text-center" id="tagInLogin">
                <a href="{{ url_for('home_page', username=username)}}" class="size-60 text-decoration-none text-danger greatvibesfont bi bi-music-note"> Nav Tarang</a>
            </div>
            <div class="col-md-6 mt-5 pt-2 rounded-5 pb-2">
                <form class="form rounded-5 border p-4 bg-dark text-white" method="POST">
                    {{login.hidden_tag() }}
                    <div class="mb-3 text-center login bg-danger rounded-4 hoverBg-green">Login User</div>
                    <div class=" pb-3">
                        {{ login.username.label(class="form-label") }}
                        {{ login.username(class="form-control") }}  
                    </div>
                    <div class="pb-3">
                        {{ login.password.label(class="form-label") }}
                        {{ login.password(class="form-control") }}  
                    </div>
                    <div class="form-check mb-4">
                        <input type="checkbox" class="form-check-input" name="remember" value="True">
                        <label class="form-check-label">Remember me:</label> 
                    </div>
                    <div class="d-flex justify-content-center">
                        {{ login.submit(class="btn btn-danger hoverBg-green border border-0") }} 
                        <a class="btn btn-primary ms-2" href="{{ url_for('register_page', username=username) }}">Create Account</a> 
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}