
{% extends '_layout.html' %}

{% block title %}
Product
{% endblock %}

{% block content %}
    <div class="container-fluid" >
        <div class="container mt-2">
            <div class="text-center greatvibesfont size-35 text-warning mb-3">
                Welcome To Nav Tarang
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    {% for package in packages %}
                    <div class="card">
                        <img src="{{ url_for('static', filename=package.filename) }}" class="card-img-top" alt="package.filename">
                        <div class="card-body">
                            <h4 class="card-title timesnewroman">{{package.package_name}}</h4>
                            <p class="card-text timesnewroman">{{package.description}}</p>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <p class="card-text timesnewroman">Price: <img src="{{ url_for('static', filename='icon/rupee-indian.png') }}">{{ package.price }}/-</p>
                                <a href="tel:9414133822" class="btn btn-sm btn-primary">Book Now</a>    
                            </div>
                        </div>
                    </div>
                    {% endfor %}
        
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}