{% extends '_layout.html' %}
{% block title %}
{{ current_user.first_name }} Profile
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="container">
                <div class="text-danger greatvibesfont text-center mt-4 size-40 bi bi-person-circle"> <label class="form-label">User Profile: </label></div>
                <table class="table table-bordered border-2 table-striped">
                    <tr>
                        <th class="text-danger">Username:</th>
                        <td>{{ current_user.username }}</td>
                    </tr>
                    <tr>
                        <th class="text-danger">Email Address:</th>
                        <td>{{ current_user.email_address }}</td>
                    </tr>
                    <tr>
                        <th class="text-danger">Name:</th>
                        <td >{{ current_user.first_name }} {{ current_user.last_name }}</td>
                    </tr>
                    <tr>
                        <th class="text-danger">Contact:</th>
                        <td>{{ current_user.contact }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
    {% if current_user.admin_access %}
    <div class="greatvibesfont size-40 mt-3 text-center text-danger">
        <label class="form-label bi bi-people-fill ps-2 pe-2">Total Users:</label>
    </div>
    <table class="container table table-bordered table-striped text-center table-responsive">
        <thead>
            <tr class="text-danger">
                <th>S.No.</th>
                <th>User Name</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Admin Access</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% set counter = [] %}
            {% for users in user %}
            {% set _ = counter.append(1) %}
            <tr>
                <td>{{ counter|length }}</td>
                <td>{{ users.username }}</td>
                <td>{{ users.first_name }}</td>
                <td>{{ users.email_address }}</td>
                <td>{{ users.contact }}</td>
                <td>{{ users.admin_access }}</td>
                <td><a href="{{ url_for('delete_profile', username=users.username, admin=users.admin_access) }}" class="btn btn-sm btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    {% endif %}


{% endblock %}