{% extends '_layout.html' %}

{% block title %}
Confirm Login
{% endblock %}

{% block content %}
<div class="container-fluid" id="indexcontent-1">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form text-warning text-center" method="POST" action="{{ url_for('refresh_page', username=username) }}">
                {{ refresh.hidden_tag() }}
                <div>
                    {{ refresh.confirm_password.label(class='form-label bg-success') }}
                    {{ refresh.confirm_password(class='form-control') }}
                </div>
                <div>
                    {{ refresh.submit(class='btn btn-success btn-lg rounded-4') }}
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}