{% extends '_layout.html'%}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="container" id="indexcontent-1">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-4">
            <div class="text-center text-dark shadow-lg rounded-4 size-35 mb-4 greatvibesfont bi bi-person-plus">
                Please Create you account: 
            </div>
            <form method="POST" class="text-white-50 bg-dark form border rounded-4 ps-5 pt-5 pb-2 pe-5">
                {{ register.hidden_tag() }}
                <div class="row mb-3">
                    <div class="col-md-2 text-center">
                        {{ register.first_name.label(class="form-label") }}
                    </div>
                    <div class="col-md-4">
                        {{register.first_name(class="form-control")}}
                    </div>
                    <div class="col-md-2 text-center">
                        {{register.last_name.label(class="form-label")}}
                    </div>
                    <div class="col-md-4">
                        {{register.last_name(class="form-control")}}
                    </div>
                </div>
                <div class="mb-3 form-group">
                    {{ register.email.label(class="form-label") }}
                    {{ register.email(class="form-control") }}
                </div>
                <div class="mb-3 form-group">
                    {{ register.username.label(class="form-label") }}
                    {{ register.username(class="form-control") }}
                </div>
                <div class="mb-3 form-group">
                    {{ register.password.label(class="form-label") }}
                    {{ register.password(class="form-control") }}
                </div>
                <div class="mb-3 form-group">
                    {{ register.confirm_password.label(class="form-label") }}
                    {{ register.confirm_password(class="form-control") }}
                </div>
                <div class="mb-3 form-group">
                    {{ register.contact.label(class="form-label") }}
                    {{ register.contact(class="form-control") }}
                </div>
                {% if admin==True %}
                <div class="mb-3 form-group">
                    {{ register.admin.label(class="form-label") }}
                    <select name="admin" class="form-select">
                        <option value="False">False</option>
                        <option value="True">True</option>
                    </select>
                </div>
                {% endif %}
                <div class="mb-3 form-group text-center">
                    {{ register.submit(class="btn btn-warning") }}
                    <a href="{{ url_for('login_page') }}" class="btn btn-primary">Login</a>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}