#serviceedit
{
    display: none;
}

#packageedit
{
    display: none;
}

#packageList
{
    display: none;
}

#serviceList
{
    display: none;
}

#tablePackageList
{
    display: none;
}

#tableServiceList
{
    display: none;
}
