/* MEDIA QUERY */
@media only screen and (max-width: 573px)
{
    #gayab0
    {
        display: none !important;
    }
    #gayab1
    {
        display: block;
    }
    #collapsibleNavbar
    {
        position: fixed;
    }
    #contentDesktop
    {
        position: relative;
        padding-top: 120px;
    }
    #profilebar
    {
        position: fixed;
        z-index: 1031;
        left: 100%;
        top: 2%;
        transition: left 0.50s;
    }
    #menu-nav-item
    {
        margin: auto;
        transition: 0.5s;
    }
    #menu-nav-item a
    {
        color: darkgray;
    }
    #menu-nav-item:hover
    {
        font-size: 25px;
    }
    #indexcard img
    {
        width: 100%;
        height: 250px;
    }
    #indexcard img
    {
        width: 100%;
        height: 100%;
    }
    #indexcardgap
    {
        margin-bottom: 1%;
        border: none;
    }
    #indexcard
    {   
        background-color: black;
        width: 83% !important;
    }
    .profile
    {
        display: none;
        position: fixed;
    }
}
@media only screen and (max-width:645px)
{
    /* BOOKING MEDIA QUERY */
    #booking
    {
        width: 95%;
        margin-left: 2.5%;
    }
    #booking-dj
    {
        font-size: 15px;
    }
    #booking-orchestra
    {
        font-size: 15px;
    }
    #booking-wedding
    {
        font-size: 15px;
    }
    #booking-dj:hover
    {
        font-size: 20px;
    }
    #booking-orchestra:hover
    {
        font-size: 20px;
    }
    #booking-wedding:hover
    {
        font-size: 20px;
    }
}

@media only screen and (min-width: 574px)
{
    #contentDesktop
    {
        position: relative;
        padding-top: 110px ;
    }
    
    #collapsibleNavId ul
    {
        margin-left: 5%;
    }
    

    #profilebar
    {
        position: fixed;
        z-index: 1031 !important;
        left: 100%;
        top: 2%;
        transition: left 0.50s;
    }
    #tagInLogin
    {
        margin-top: 15%;
    }
}